*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 5rem;
}

#logo{
    width: 22rem;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    background-color: white;
    background-image: url('./IMAGES/envelope-solid.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[type=password] {
    background-color: #fff;
    background-image: url('./IMAGES/lock-solid.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[type=button] {
    background-color: #04aa28;
    color: #fff;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}